footer{
  width:100%;
  padding:4em 0 4em 0;
  text-align:center;
  background-color:#fefefe;
  font-size:14pt;
  color:rgb(50,50,50, .8);
  font-family: 'Lato', sans-serif;
  box-shadow: 0px -.3px -.6px #888888;
}
