footer{
  width:100%;
  padding:4em 0 2em 0;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  border-top:1px solid rgb(148,149,153,.3);
  z-index:1;
  bottom:0;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#footer-middle-section{
  text-align: center;
}
#socialMedia-list{
  display:inline-flex;
  margin-block-start:0em;
  float:right;
  margin-right:5vw;
}
#socialMedia-list > li:nth-child(1){
    margin-right: 26px;
}
#socialMedia-list > li:nth-child(2){
    margin-right:26px;

}
.icons{
  height:24px;
  opacity:.7;
  transition-property: opacity, height, box-shadow;
  transition-duration: .5s;
  transition-delay: 0s;
}
.icons:hover{
  opacity:1;
}
