body{
  margin: 0;
  padding:0;
  font-family: 'Heebo', sans-serif;
  background-color:#18191E;
  color:#CECDD0;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size:32pt;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:32pt;
  text-align: center;
  padding-bottom:1em;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size:16pt;
  font-weight:bolder;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14pt;
  line-height: 22.5px;
}
.casestudy-content{
  display: grid;
  grid-template-columns: 1fr;
  width:100%;
}
.bold{
  font-weight:bold;
  font-size:14.5pt;
}


/*-----------------------HEADER ROW---------------------*/
#row-header{
  /* background: url(https://thumbs.gfycat.com/OrdinaryBossyGar-size_restricted.gif); */
  background: url(https://www.gamepur.com/files/imagepicker/48/battlefield-4-gamescom-2013-screen-1.jpg);
  /* background: url(https://primagames.com/media/images/news/Phantom_Trainee_Hero.jpg); */
  padding:10em 0 10em 0;
  background-size: cover;
  background-position: center;
}

#header-content{
  width:50%;
  margin:auto;
  margin-top:2em;
  text-align: center;
  padding:2em 0 2em 0;
  background-color:rgb(24,25,30,.9)
}
#header-content > h3{
  font-family: 'Montserrat', sans-serif;
  font-size:16pt;
}





/*-----------------------OVERVIEW ROW---------------------*/
#row-overview{
  padding:5em 0 17.5vh 0;
}
#overview-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:80%;
  margin:auto;
}
.overview_container-third-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14pt;
}
.overview_container-third-content > ul{
  padding:0;
  margin-top:0;
}
.overview_container-third-content > ul > li{
  padding-bottom:7.5px;
}
.overview_container-third-content > h3{

}
.overview_container-third:nth-child(1) > .overview_container-third-content{
  float:left;
}
.overview_container-third:nth-child(3) > .overview_container-third-content{
  float:right;
}



/*-----------------------CHALLENGE ROW---------------------*/
#row-challenge{
  display: grid;
  grid-template-columns: 1fr;
  width:85%;
  margin:auto;
}
#row-challenge > div{
  display: grid;
  grid-template-columns: .333fr .666fr;
  grid-gap:4em;
}
#image-challenge-1{
  width:100%;
  object-fit:contain;
}




/*-----------------------CHALLENGE ROW---------------------*/

#row-current-status{
  margin-top:4em;
  padding-bottom:8em;
}
#status-content > div > p{
  width:50%;
  margin:auto;
}
