@media only screen and (max-width: 500px){
  #toggle:checked + .menu{
    display: block;
    background-color:#18191E;
    z-index:1;
  }
  h2{
    padding-bottom:none;
  }
  /*-----------------------HEADER ROW---------------------*/

  #header-content{
    width:100%;
    margin:auto;
    margin-top:2em;
    text-align: center;
    padding:2em 0 2em 0;
    background-color:rgb(15,10,15,.8)
  }
  #header-content > h3{
    font-family: 'Montserrat', sans-serif;
    font-size:16pt;
  }





  /*-----------------------OVERVIEW ROW---------------------*/
  #row-overview{
    padding:0 0 0 0;
  }
  #overview-content{
    grid-template-columns: 1fr;
  }
  .overview_container-third:nth-child(1) > .overview_container-third-content{
    float:none;
  }
  .overview_container-third:nth-child(3) > .overview_container-third-content{
    float:none;;
  }



  /*-----------------------CHALLENGE ROW---------------------*/
  #row-challenge{
    display: grid;
    grid-template-columns: 1fr;
    width:90%;
    margin:auto;
  }
  #row-challenge > div{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:1em;
  }
  #image-challenge-1{
    width:100%;
    object-fit:contain;
  }



    /*-----------------------Status ROW---------------------*/
  #status-content > div > p{
    width:90%;
    margin:auto;
  }
}
