body{
  margin: 0;
  padding:0;
  font-family: 'Heebo', sans-serif;
  background-color:#18191E;
  color:#CECDD0;
}

nav{
  background-color:#18191E;
box-shadow: 0px 2px 2px #171217;
}
nav > div > .menu > a{
 color:#fff;
}


h1{
  font-family: 'Montserrat', sans-serif;
  font-size:32pt;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:32pt;
  text-align: center;
  padding-bottom:1em;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-size:16pt;
  font-weight:bolder;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14pt;
  line-height: 22.5px;
}
ul{

  font-family: 'Source Sans Pro', sans-serif;
  font-size:14pt;
  line-height: 22.5px;
}
figcaption{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:10pt;
  color:#fff;
  width:90%;
  padding-left:10px;
}
.casestudy-content{
  display: grid;
  grid-template-columns: 1fr;
  width:100%;
  padding-bottom:4em;
}
.bold{
  font-weight:bold;
  font-size:14.5pt;
}
.list{
 margin:0;
 padding:0;
 list-style-type:circle;
}


/*-----------------------HEADER ROW---------------------*/
#row-header{
  /* background: url(https://thumbs.gfycat.com/OrdinaryBossyGar-size_restricted.gif); */
  background: url(https://www.gamepur.com/files/imagepicker/48/battlefield-4-gamescom-2013-screen-1.jpg);
  /* background: url(https://primagames.com/media/images/news/Phantom_Trainee_Hero.jpg); */
  padding:10em 0 10em 0;
  background-size: cover;
  background-position: center;
}

#header-content{
  width:100%;
  margin:auto;
  margin-top:2em;
  text-align: center;
  padding:2em 0 2em 0;
  background-color:rgb(24,25,30,.7)
}
#header-content > h3{
  font-family: 'Montserrat', sans-serif;
  font-size:16pt;
}





/*-----------------------OVERVIEW ROW---------------------*/
#row-overview{
  padding:5em 0 17.5vh 0;
}
#overview-content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:80%;
  margin:auto;
}
.overview_container-third-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:14pt;
}
.overview_container-third-content > ul{
  padding:0;
  margin-top:0;
}
.overview_container-third-content > ul > li{
  padding-bottom:7.5px;
}
.overview_container-third-content > h3{

}
.overview_container-third:nth-child(1) > .overview_container-third-content{
  float:left;
}
.overview_container-third:nth-child(3) > .overview_container-third-content{
  float:right;
}



/*-----------------------CHALLENGE ROW---------------------*/
#row-challenge{
  display: grid;
  grid-template-columns: 1fr;
  width:80.5%;
  margin:auto;
}
#row-challenge > div{
  display: grid;
  grid-template-columns: .333fr .666fr;
  grid-gap:3em;
}
#image-challenge-1{
  width:100%;
  object-fit:contain;
}
/*-----------------------Research ROW---------------------*/
#row-research{
  margin-top:4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#row-research-p-1{
  width:50%;
  margin:auto;
}
#row-research > h3{
  padding-top:1em;
}




/*-----------------------Status ROW---------------------*/

#row-current-status{
  margin-top:4em
}
#status-content > div > p{
  width:50%;
  margin:auto;
}
