body{
  background:#fefefe;
  color:#222;
  margin:0 auto;
  Font-Family: 'Muli', Sans-Serif;
}

a{
  text-decoration: none;
}

h1{
  Font-Family: 'Merriweather', Serif;
  font-size:36pt;
  color:#323232;
  text-shadow:1px 1px 1px #CCCCCC;
}

h2{
  font-size:50pt;
}

.contents{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.subhead{
  color:#323232;
  /* font-weight:bold; */
  font-size:12pt;
}

#home-container-all{
  margin:auto;
}

#headline{
  margin:16em auto 0 auto;
  color:#212121;
  width:90%;
  text-align: center;
}

#case-studies{
  display:grid;
  grid-template-columns:1fr 1fr;
  width:100%;
  margin:12em auto 0 auto;
  z-index:0;
}
.case-studies--card{
  display:flex;
  flex-direction: column;
  padding-bottom:6em;
  padding-top:2em;
  height:50vh;
  transition:1s;
  cursor:pointer;
}


#case-studies--one{
  background:#1654F8;
}
/* #case-studies--one > h2{
  color:#131D1C;
} */


#case-studies--two{
  background:#FF781F;
}



.case-studies--card > img{
  width:240px;
  margin:auto;
  object-fit:contain;
  transition:.5s;
}
.case-studies--card > h2{
  Font-Family: 'Muli', Sans-Serif;
  font-size:24pt;
  text-align: center;
  opacity:.0;
  transition:.5s;
  color:#fff;
}
.case-studies--card:hover > img{
  opacity:.1;
}
.case-studies--card:hover > h2{
  opacity:.8;
}
