body{
  background:#fefefe;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
}
figure{
  margin:0;
}




figcaption{
  font-family: 'Lato', sans-serif;
  font-size:14pt;
  line-height: 26px;
  padding-top:.4em;
}
footer{
  width:100%;
  padding:4em 0 4em 0;
  text-align:center;
  background-color:#efefef;
  margin-top:8em;
  color:#000;
  font-size:16pt;
  z-index:2;
  position:absolute;
}

nav{
  display:grid;
  grid-template-columns:1fr 1fr;
  width:100%;
}
label{
  margin:auto;
  text-align:center;
  display:none;
}

p{
  font-size:16pt;
}
.bold{
  font-weight:bolder;
}
#home-container-all{
  display:grid;width:67%;
  margin:auto;
}
#logo{
  margin:1em 0 0 0;
  height:40px;
}

#toggle{
  display:none;
}

#menu{
  margin:1.5em 0 0 0;
  float:right;
}

#menu > a{
  text-decoration: none;
  color:#7D7D7D;
}
#menu > a:hover{
  font-weight:bold;
  color:#000;
}

#menu > a:nth-child(2){
  padding:0 2em 0 2em;
}

#headline{
  margin-top:8em;
}

#case-studies{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:2em;
  width:100%;
  margin:8em 0 8em 0;
  z-index:0;
}
#case-studies > figure{
  height:33vh;
  background-color:#fff;
  border-radius:5px;
}
#case-studies > figure > a > img{
  width:100%;
  height:100%;
  opacity:.7;
  border-radius:2px;
}
#case-studies > figure > a > img:hover{
  width:100%;
  height:100%;
  opacity:1;
  border-radius:2px;
}
