@media only screen and (max-width: 500px) {
  #splash{
    grid-template-columns: 1fr;
  }



  #banner{
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;
    color:#000;
    width:100%;
    padding-bottom:6em;
    /* border-bottom:1px solid #e7e7e7; */
  }

  #banner-ul > li > h1{
    margin:auto;
    padding-top: 2em;
  }
  #banner-ul{
    text-align: ;
    padding:0;
    /* margin-left: 5vw; */
  }
  #banner-ul > li:nth-child(2) h3{
    width:100%;
  }

  #portfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
    width:90%;
    margin:auto;
    margin-top:4em;
    margin-bottom:4em;
  }
  .hover-box > img{
    width:100%;
    min-height: 60vh;
    max-height: 60vh;
  }
}
