body{
  background-color: #F2F2F2;
  margin: 0;
  padding:0;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  width:100vw;
  margin:auto;
  cursor: -webkit-grab; cursor: grab;
}


#splash{
  display: grid;
  grid-template-columns:1fr;
  margin-top:20vh;
  z-index:0;
}

/*----------------------BANNER-------------------*/
#banner{
  display: grid;
  grid-template-columns: 1fr;
  margin:auto;
  color:#000;
  width:66.66%;
  padding-bottom:6em;
  /* border-bottom:1px solid #e7e7e7; */
}
#banner-ul{
  text-align: center;
  padding:0;
}
#banner-ul > li > h1{
  font-size:28pt;
  padding: 3em 0 0 0;
  font-family: 'Raleway', sans-serif;
  width:100%;
  line-height:46px;
  margin:auto;
}
/* #banner-ul > li:nth-child(2) > h3{
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
  font-size:12pt;
} */
/*----------------------BANNER END-------------------*/


/*----------------------PROJECTS-------------------*/
#portfolio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:2em;
  width:66.66%;
  margin:auto;
  margin-top:4em;
  margin-bottom:8em;
}
.hover-box{
  width:100%;
  display:block;
  position:relative;
  /* overflow:hidden; */
}
.hover-box > img{
  width:100%;
  /* height:85vh; */
  border:1px solid #f1f1f1;
}
.hover-box > h3{
  position:absolute;
  /* top:-17px;
  bottom:-14px; */
  left:0px;
  right:0px;
  top:-19px;
  bottom:-15px;
  text-align:center;
  transform:scale(0);
  transition:all 2000ms ease-out;
  -webkit-transition:all 200ms ease-out;
}
.hover-box span{
  position:absolute;
  top:50%;
  left:50%;
  font-family: 'Heebo', sans-serif;
  font-weight: normal;
  font-size:16pt;
  transform: translate(-50%,-50%);
}
.hover-box:hover{
  cursor: -webkit-grabbing; cursor: grabbing;
}
.hover-box:hover h3{
  transform:scale(1);
  cursor: -webkit-grabbing; cursor: grabbing;
}
.translate-box{
  line-height:42px;
  background-color: rgb(255,255,255,.9);
  color:#000;

}

/*----------------------PROJECTS END-------------------*/
