@media only screen and (max-width: 500px) {
  #splash{
    grid-template-columns: 1fr;
  }

  #banner{
    width:100%;
    margin:auto;
    border-bottom:none;
  }
  #banner-ul{
    text-align: ;
    padding:0;
    /* margin-left: 5vw; */
  }
  #banner-ul > li:nth-child(2) h3{
    width:100%;
  }

  #portfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
    width:100%;
    margin:auto;
    margin-top:4em;
    margin-bottom:4em;
  }
  .hover-box > img{
    width:100%;
    min-height: 70vh;
    max-height: 70vh;
  }
}
