@media only screen and (max-width: 550px){
  p{
    width:90%;
    line-height:26px;
    font-size: 16pt;
  }

  figcaption{
    margin-left:5%;
  }
  h2{
    font-size:16pt;
  }
  footer{margin-top:0;}


  #headline{
    width:90%;
    margin-left:5%;
    margin-top:12em;
    text-align:left;;
  }
  #headline > p{
    line-height: 32px;
  }

  #case-studies{
    grid-template-columns: 1fr;
    grid-gap:0em;
    margin:8em 0 0 0;
    width:100%;
  }
  #case-studies > figure{
    height:72vh;
    background-color:#000;
    border-radius:5px;
  }

  #case-studies > figure > a > img{
    width:100%;
    height:100%;
    opacity:1;
    border-radius:2px;
  }
}
