@media only screen and (max-width: 500px){
  body{
    font-size:16pt;
    line-height:30px;
  }

  header{
    margin:8em auto 8em auto;
    width:90%;
    text-align: center;
  }
  header > p{
    margin-top:4em !important;
    text-align:left;
  }
  h2{
    text-align: left;
  }
  p{
    line-height:30px;
  }



  /*--------------------SECTION SPECS-----------------*/
  .section-all-100{
    width:100%;
    background-color:#fff;
    padding:4em 0 4.5em 0;
    margin:auto;
  }

  .section-all-67{
    width:90%;
    margin:auto;
  }

  .section-all-50{
    width:90%;
    margin:auto;
    padding:4em 0 4.5em 0;
  }




  /*--------------------OVERVIEW-----------------*/
  .list-horizontal{
    grid-template-columns:1fr;
  }

  .list-inner-overview-vertical{
    margin:auto;
    line-height: 22px;
    padding-left:0;
    text-align: left !important;
  }

  .list-inner-overview-vertical > li:nth-child(1) > h3{
    text-align: left !important;
  }
  .list-inner-overview-vertical > li:not(:nth-child(1)){
    list-style-type: circle;
    margin-left:40px;
  }
  .list-inner-overview-vertical > li:not(:nth-child(-n+2)){
    margin-top:16px;
  }
  #list-horizontal-overview > li:not(:nth-child(1)){
    margin-top:1em;
  }
  #list-inner-overview-basis{
    float:left;
  }
  #list-inner-overview-type{
    float:left;
  }



  /*--------------------SECTION GOALS-----------------*/

  #list-goals{
    list-style-type: circle;
  }
  #list-goals > li{
    line-height: 30px;
  }
  #list-goals > li:not(:nth-child(1)){
    margin-top:16px;
  }
  #section-goals > figure > img{
   width:100%;
   height:100vh;
   border-radius:5px;
   margin-top:2em;
   box-shadow:2px 2px 1px lightgrey;
  }

}
