

/*------------media query 500px-----------*/
@media only screen and (max-width: 900px){
  .section-all-67{
    width:80%;
    margin:auto;
  }

  .section-all-50{
    width:57%;
    margin:auto;
    padding:4em 0 4.5em 0;
  }


  .images-goals{
    width:100%;
  }
  #list-goals{
    display:grid;
    grid-template-columns: 1fr;
    width:100%;
  }

  #list-goals > li > figure{
    padding-bottom:4em;
    text-align: left;
  }

  #list-goals > li > figure > figcaption{
    text-align:left;
    opacity:.7;

  }

  #list-goals > li > h3{
    text-align: center;
  }
  #list-goals > li:not(:nth-child(1)){
    margin-top:16px;
  }

  #goals-grid-graphics{
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    margin:auto;

  }

  #section-goals > p{
      text-align: center;
    }
  #goals-grid-graphics > .grid-graphics-column{
    margin-top:1em;
  }

}










@media only screen and (max-width: 500px){
  body{
    font-size:16pt;
  }

  header{
    margin:8em auto 8em auto;
    width:90%;
    text-align:left;
  }
  header > p{
    margin-top:4em !important;
    text-align:left;
  }
  h2{
    text-align: left;
  }
  p{
    line-height:30px;
  }
  figcaption{
    font-size:12pt;
  }



  /*--------------------SECTION SPECS-----------------*/
  .section-all-100{
    width:100%;
    background-color:#fff;
    padding:4em 0 4.5em 0;
    margin:auto;
  }

  .section-all-67{
    width:90%;
    margin:auto;
    padding:2em 0 2.5em 0;
  }

  .section-all-50{
    width:90%;
    margin:auto;
    padding:2em 0 2.5em 0;
  }




  /*--------------------OVERVIEW-----------------*/
  .list-horizontal{
    grid-template-columns:1fr;
  }

  .list-inner-overview-vertical{
    margin:auto;
    line-height: 30px;
    padding-left:0;
    text-align: left !important;
  }

  .list-inner-overview-vertical > li:nth-child(1) > h3{
    text-align: left !important;
  }
  .list-inner-overview-vertical > li:not(:nth-child(1)){
    list-style-type: circle;
    margin-left:40px;
  }
  .list-inner-overview-vertical > li:not(:nth-child(-n+2)){
    margin-top:4px;
  }
  #list-horizontal-overview > li:not(:nth-child(1)){
    margin-top:1em;
  }
  #list-inner-overview-basis{
    float:left;
  }
  #list-inner-overview-type{
    float:left;
  }



  /*--------------------SECTION GOALS-----------------*/

  .grid-graphics-column{
    display:flex;
    flex-direction:column;
    align-items: center;
  }

  .grid-graphics-column > figure{
    margin-inline-start:0px;
    margin-inline-end:0px;
  }

  .grid-graphics-column > h3{
    text-align: center;
  }

  .grid-graphics-column > figure > figcaption{
    font-size:10pt;
    text-align: left;
    font-size:12pt;
  }

  .graphic-goals{
    width:100%;
    margin:auto;
  }
  #section-goals{
    width:90%;
  }
  #section-goals > p{
      text-align: left;
      width:100%;
    }
  #goals-grid-graphics{
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    grid-gap:4em;

  }

  /*--------------------SECTION Research-----------------*/

  #section-research{
    display:flex;
    flex-direction:column;
  }

  #research-column-one{
    grid-gap:1em;
    text-align: left;
  }

  #research-column-two{
    grid-template-columns:1fr;
  }

  #research-column-three{
    grid-template-columns:1fr;
  }

  .research-column-lists{
    line-height:30px;
  }


}
