body{
  background:#f3f3f3;
  color:#222;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-size:12pt;
}

header{
  text-align: center;
  margin:auto;
  margin:12em auto 14em auto;
  width:50%;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size:50pt;
  color:#222;
  text-shadow:1px 1px 1px lightgrey;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size:36pt;
  color:#222;
  text-shadow:1px 1px 1px lightgrey;
  text-align:center;
}

h3{
  font-family: 'Raleway', sans-serif;
  letter-spacing:.4px;
  color:#222;
  opacity:.7;
  text-align:left;
  font-weight:bolder
}
h4{

}

p{
  line-height:24px;
}

#home-container-all{
  margin:auto;

}

.bold{
  font-weight:bold;
}




/*--------------------SECTION SPECS-----------------*/
.section-all-100{
  width:100%;
  background-color:#fff;

  margin:auto;
}

.section-all-67{
  width:67%;
  margin:auto;
  padding:6em 0 6.5em 0;
}

.section-all-50{
  width:50%;
  margin:auto;
  padding:6em 0 6.5em 0;
}




/*--------------------OVERVIEW-----------------*/
.list-horizontal{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-left:0;
  width:100%;
  text-align: center;
}

.list-inner-overview-vertical{
  margin:auto;
  line-height: 24px;
  padding-left:0;
}


.bold{
  font-weight:bold;;

}


#list-inner-overview-basis{
  float:left;
}


#list-inner-overview-type{
  float:right;
}



/*--------------------SECTION GOALS-----------------*/
.grid-graphics-column{
  display:flex;
  flex-direction:column;

  width:100%;
}

.grid-graphics-column > figure{
  margin-inline-start:0;
}

.grid-graphics-column > figure{

}

.grid-graphics-column > h3{

}

.grid-graphics-column > figure > figcaption{
  font-size:10pt;
  text-align: center;
  line-height:18px;
}

.graphic-goals{
  width:100%;
  margin:auto;
  border-radius:5px;
  box-shadow: .5px 1px 4px lightgrey;
}
#goals-grid-graphics{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  width:100%;
  grid-gap:2em;
  margin-top:2em;
}

#section-goals > p{
  text-align: left;
  margin:auto;
}




/*--------------------SECTION GOALS-----------------*/

#section-research{
  display:flex;
  flex-direction:column;
}
#research-column-one{
  grid-gap:2em;
  text-align: left;
}
#research-column-two{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:2em;
  margin-top:2em;
  padding-bottom:2em;
  text-align: left;
  border-bottom:1px solid rgb(34, 34, 34, .2);
}
#research-column-three{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:2em;
  padding-top:2em;
  text-align: left;
  padding-top:2em;
}
#research-column-one > div > figure{
  margin-inline-end:0;
}
#research-column-two > div > figure{
  margin-inline-start:0;
}

.research-column-lists{
  list-style-type: circle;
  line-height:22px;
}

.research-column-lists > li:not(:nth-child(1)){
  margin-top:2px;
}

.research-column-lists > li > a{
  text-decoration: none;
  opacity:.7;
}
.research-column-lists > li > a:hover{
  color:#1654F8;
  opacity:1;
  font-weight:bold;
  text-decoration: underline;
}
/* .research-columns{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  background-color:#fff;
  grid-gap:4em;
  text-align: left;
} */
