body{
  background:#f3f3f3;
  color:#222;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-size:12pt;
}

header{
  text-align: center;
  margin:auto;
  margin:14em auto 14em auto;
  width:50%;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size:50pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-size:36pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align:center;
}

h3{
  font-family: 'Raleway', sans-serif;
  letter-spacing:.2px;;
  color:#323232;
  text-align:left;
  font-weight:bolder
}
h4{

}

p{
  line-height:22px;
}

#home-container-all{
  margin:auto;

}

.bold{
  font-weight:bold;
}




/*--------------------SECTION SPECS-----------------*/
.section-all-100{
  width:100%;
  background-color:#fff;
  padding:6em 0 6.5em 0;
  margin:auto;
}

.section-all-67{
  width:67%;
  margin:auto;
}

.section-all-50{
  width:50%;
  margin:auto;
  padding:6em 0 6.5em 0;
}




/*--------------------OVERVIEW-----------------*/
.list-horizontal{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-left:0;
  width:100%;
  text-align: center;
}

.list-inner-overview-vertical{
  margin:auto;
  line-height: 22px;
  padding-left:0;
}


.bold{
  font-weight:bold;;

}


#list-inner-overview-basis{
  float:left;
}


#list-inner-overview-type{
  float:right;
}



/*--------------------SECTION GOALS-----------------*/

#list-goals{
  line-height: 22px;
  list-style-type: disc;
}
#list-goals > li:not(:nth-child(1)){
  margin-top:8px;
}

#section-goals > figure > img{
 width:100%;
 height:100vh;
 border-radius:5px;
 margin-top:2em;
 box-shadow:2px 2px 1px lightgrey;
}
