@media only screen and (max-width: 450px) {

  h1{
    font-size:36pt;
  }

  p{
    font-size:16pt;
    line-height: 30px;
  }
  main{
    width:90%;
    margin:10em auto 3em auto;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:.5em;

  }


  /*-----main content----*/
  .mainColumns{
    line-height:32px;
    font-size:16pt;
  }
  .icons{
    height:26px;
  }


  .icons:hover{
    height:28px;
  }

  #hobbies{
    line-height: 32px;
    font-size:16pt;
  }

  #list-socialMedia{
    display:inline-flex;
    position:static;
    border-left:none;
    margin-bottom:0;
  }

  #list-socialMedia > li:not(:nth-child(1)){
    margin-left:24px;
  }
  #main-left{
    width:100%;
    padding-right:0;
    border-right:none;
  }
  #icon-hi{
    height:32px;
  }
  #list-socialMedia{
      margin-top:1em;
  }

}
