@media only screen and (max-width: 500px) {

  h1{
    font-size:32pt;
    line-height:
  }

  main{
    width:90%;
    margin:7em auto 2em auto;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:.5em;

  }


  /*-----main content----*/
  .mainColumns{
    line-height:22px;
  }
  .icons{
    height:26px;
  }


  .icons:hover{
    height:28px;
  }

  #list-socialMedia{
    display:inline-flex;
    position:static;
    border-left:none;
    margin-bottom:0;

  }
  #list-socialMedia > li:not(:nth-child(1)){
  }
  #main-left{
    width:100%;
    padding-right:0;
    border-right:none;
  }
  #icon-hi{
    height:32px;
  }
  #list-socialMedia{
      margin-top:1em;
  }

}
