@media only screen and (max-width: 500px) {

  h1{
    font-size:36pt;
  }

  p{
    font-size:16pt;
    line-height: 32px;
  }
  main{
    width:75% !important;
    margin-left:10vw;
  }


  /*-----main content----*/
  .mainColumns{
    line-height:32px;
    font-size:16pt;
  }
  .icons{
    height:26px;
  }


  .icons:hover{
    height:28px;
  }

  #hobbies{
    line-height: 32px;
    font-size:16pt;
  }

}
