body{
  background:#f3f3f3;
  color:#222;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size:24pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
}
p{
  font-size:16pt;
}
ul{
  font-size:16pt;
}

main{
  width:67%;
  margin:2em auto 2em auto;
  display:grid;
  grid-template-columns: 2.5fr .5fr;
  grid-gap:.5em;

}


/*-----main content----*/
.mainColumns{
  line-height:32px;
}
.icons{
  height:28px;
  opacity:.7;
  transition-property: opacity, height;
  transition-duration: .5s;
  transition-delay: 0s;
}


.icons:hover{
  height:30px;
  opacity:1;
}
#hobbies{
    list-style-type: circle;
}
#list-socialMedia{
    margin-top:8em;
}
#list-socialMedia > li:not(first){
  margin-top:8px;
}
#main-left{
  width:90%;
}
#icon-hi{
  height:32px;
}
