body{
  background-color:#f3f3f3;
  margin:0 auto;
  font-size:16pt;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size:24pt;
  color:#323232;
  text-shadow:2px 2px 2px lightgrey;
  margin-top:0;
}
p{
  line-height: 32px;
  /* word-spacing:2px; */
}
ul > li{
  list-style-type:circle;
  line-height: 36px;
}

footer{
  width:100%;
  padding:4em 0 4em 0;
  text-align:center;
  background-color:#fefefe;
  color:#000;
  font-size:12pt;
  position:absolute;
}

.contact-icons{
  height:24px;
  border-radius:2px;
}
.contact-icons:hover{
  background-color:#eee;
}

#container{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:4em;
  width:90%;
  margin:auto;
  margin-top:5em;
  padding-bottom:10vh;
}

#container > div > img{
  width:100%;
  border-radius:4px;
}
#contact-list{
  display:inline-flex;
  list-style-type: none;
  padding-inline-start:0;
  margin:0;
}
#contact-list > li{
  list-style-type:none;
}
#contact-list > li:nth-child(2){
  padding-left:24px;
}
#contact-list > li:nth-child(3){
  padding-left:24px;
}
