body{
  background-color: #f2f2f2;
  /* background: url(../../images/about-me-displays/about.png); */
  background-position:right;
  background-size:cover;
  background-repeat:no-repeat;
  margin: 0;
  padding:0;
}

.container{
  padding-bottom:20em;
  width:50%;
  margin:auto;
}
#content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1em;
  margin-top:5em;
  padding:2.5em;
  border:#fafafa 1px solid;;
  box-shadow:5px 5px 5px #aeaeae;
}
#content > div > img{
  width:100%;
  height:100%;
  line-height:0;
}
