body{
  background:#f3f3f3;
  color:#000;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
}
header{
  text-align: center;
}

header > img{
 width:100%;
 border-radius:5px;
 margin-top:8em;
 box-shadow:2px 2px 4px #999;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size:32pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align:center;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size:32pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align: center;
}
h3{
  font-family: 'Raleway', sans-serif;
  font-size:20pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align: center;
  margin-top:4em;
}

p{
  line-height:32px;
  text-align: left;
}
ul{
 line-height: 32px;
}
a{
  text-decoration: none;
}
figure{
  width:100%;
  margin:auto;
}
figcaption{
  text-align:center;
  color:#535353;
  margin-top:5px;
}

#home-container-all{
  margin: auto;
}
#home-container-content{
  width:66.7%;
  margin:auto;
}


/*-- Section Introduction --*/
.list-horizontal{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-left:0;
  width:100%;
  text-align: center;
}

.list-inner-overview-vertical{
  display:grid;
  grid-template-rows: 1fr 1fr;
  padding-left:0;
  text-align: center;
}

.list-inner-overview-vertical > li:nth-child(2){
  margin-top:8px;
}

.bold{
  font-weight:1000;
  font-size:12.5pt;
}

.section-all:nth-child(1){
  margin-top:10em;
}

/*----OVERVIEW --*/

#list-inner-overview-basis{
  float:left;
}

#list-inner-overview-type{
  float:right;
}


/*----Introduction--*/
#section-introduction{
 margin:auto;
 margin-top:8em;
}
#section-introduction > div{
 width:75%;
 margin:auto;
}
#list-assumptions{
  list-style-type:upper-alpha;
}
#assumptions-map{
  width:100%;
  height:120vh;
  border-radius:5px;
  margin-top:4em;
  box-shadow:1px 1px 4px #999;
}

/*--Research--*/
#section-qualitative{
  margin:auto;
  margin-top:8em;
  width:75%;
}
.row-qualitative-all{
  display:flex;
  flex-direction:row;
}
.research-list{
  list-style-type:circle;
  margin:auto;
  margin-top:0;
  padding-left:28px;
}
#qualitative-row-images{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:1em;
  margin:auto;
}
#qualitative-row-images > figure{
  width:100%;
}
#qualitative-row-images > figure > img{
  width:100%;
  height:33.3vh;
  border-radius:5px;
  box-shadow:.5px .5px 2px #999;
}
