@media only screen and (max-width: 500px){
  body{
    font-size:16pt;
    line-height:40px;
  }
  header{
    text-align: left;
  }
  h1{
    text-align: left;
    line-height: 40px;
  }
  h2{
    text-align: left;
    font-size:24pt;
  }
  h3{
    text-align: left;
    font-size:18pt;
  }
  p{
    line-height:32px;
  }
  figcaption{
    margin-top:0;
    font-size:12pt;
  }
  header > img{
   width:100%;
   border-radius:5px;
   margin-top:2em;
   box-shadow:2px 2px 4px #999;
  }
  .bold{
    font-size:16pt;
  }
  .list-horizontal{
    grid-template-columns:1fr;
    grid-gap:2em;
  }
  .list-inner-overview-vertical > li{
    text-align:left;
  }
  .list-inner-overview-vertical > li:nth-child(2){
    margin-top:4px;
  }
  #home-container-content{
    width:90%;
    margin:auto;
  }
  #section-overview{
    margin-top:4em;
  }
  #list-inner-overview-basis{
    float:left;
  }
  #list-inner-overview-role{
    float:left;
  }
  #list-inner-overview-type{
    float:left;
  }

  #section-introduction > div{
   width:100%;
   margin:auto;
  }
  #section-introduction{
   margin:auto;
   margin-top:4em;
  }
  #section-qualitative{
    width:100%;
    margin-top:4em;
  }
  #list-assumptions > li{
    margin-top:16px;
  }
  .research-list > li{
    list-style-type:circle;
    text-align: left;
    padding-left:16px;
    margin-top:24px;
  }
  #qualitative-row-images{
    width:100%;
  }

}
