@media only screen and (max-width: 500px){

/* ~~~~~~~~~~~~~~~~~~~~~ GENERAL ~~~~~~~~~~~~~~~~~~~~~ */
  h1{
    font-size:28pt;
  }
  h2{
    font-size:28pt;
  }
  p{
    font-size:16pt;
    line-height:25px;
  }
  span{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16pt;
  }
  .bold{
    font-weight:bold;
  }
  .unordered-list{
    font-size:16pt;
  }
  .unordered-list > li{
    font-size:16pt;
    font-weight: lighter;
    padding-bottom:20px;
    line-height: 25px;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~ Row-Header ~~~~~~~~~~~~~~~~~~~~~ */
  #header-image{
    height:45.5vh;
  }
  #subheader{
    text-align: center;
    padding-bottom:1vh;
    width:90%;
    margin:auto;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~ Banner-Image ~~~~~~~~~~~~~~~~~~~~~ */
  #banner-background-fit{
    width:90%;
    margin:auto;
  }
  #banner-background-fit > img{
    width:100%;
    height:60vh;
    object-fit:contain;
  }


  /* ~~~~~~~~~~~~~~~~~~~~~ Row-Overview ~~~~~~~~~~~~~~~~~~~~~ */
  #row-overview{
    padding:0 0 2.5em 0;
  }
  #overview-content{
    grid-template-columns: 1fr;
    margin-top:-1em;
  }
  .overview_container-third:nth-child(1) > .overview_container-third-content{
    float:none;
  }
  .overview_container-third:nth-child(3) > .overview_container-third-content{
    float:none;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~ Row-Introduction ~~~~~~~~~~~~~~~~~~~~~ */
  #introduction-content{
    width:90%;
    margin:auto;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~ Row-Research ~~~~~~~~~~~~~~~~~~~~~ */
  #research-content-1{
    width:90%;
    margin:auto;
    display: grid;
    grid-template-columns:1fr;
    grid-gap:1em;
  }
  #research-content-1 > div{
    width:100%;
  }
  #research-content-1 > div:nth-child(2){

  }
  #research-content-1 > div > img{
    width:100%;

  }
  #research-content-2{
    width:90%;
    grid-template-columns:1fr;
  }

  #research-content-2 > div{

  }

  #research-content-2 > div:nth-child(1){
    margin-top:-2em;
  }

  #research-content-2 > div > img{
    width:100%;
    height:80vh;
  }
  /* ~~~~~~~~~~~~~~~~~~~~~ Row-Research-Recap ~~~~~~~~~~~~~~~~~~~~~ */
  #research-recap-content{
    width:90%;
  }
  #research-recap-content > h3{
    text-align:center;
  }



  /* ~~~~~~~~~~~~~~~~~~~~~Current Status-Recap ~~~~~~~~~~~~~~~~~~~~~ */

  #row-current-status{
    background-color: #FCF7FF;
    padding-bottom:8em;
  }
  #status-content > div > p{
    width:90%;
    margin:auto;
  }
  #current-status-background-fit{
      width:95%;
      margin:auto;
  }

  #current-status-background-fit > img{
      width:100%;
      object-fit:contain;
      padding:4em 0 4em 0;
  }
  .gify{
    width:100%;
    box-shadow: 4px 5px 20px #C5BBCD;
    margin:auto;
  }
  .proto_row{
    margin:auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
    width:90%;
    margin-top:6em;
  }

}
