@media only screen and (max-width: 500px) {
  h1{
    font-size:36pt;
  }
  h2{
    padding-bottom:0;
  }
  h3{
    font-size:
  }




  /*----------------- banner ---------*/
  .two-by-three{
    width:90%;
    display: grid;
    grid-template-columns: 1fr;
    margin:auto;
  }
  #banner-row{
  }
  #sub-heading{
    margin-bottom:2em;
    padding-bottom:2em;
  }
  #banner-photo{
    width:66.66%;
    max-width:66.66%;
    height:75%;
    margin-top:5em;
  }
  #banner-photo-background{

  }




  /*----------------- overview ---------*/

  #overview-container{
    display: flex;
    flex-direction: column;
  }
  .overview-container-third{
    width:90%;
    display: flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
  }





/*------------------ introduction ----------*/
  #introduction-background > p{
    width:90%;
    margin:auto;
  }

  #introduction-two-by-two{
    width:90%;
    display: grid;
    margin:auto;
    grid-template-columns: 1fr 1fr;
    grid-gap:2em;
    margin-top:4em;
  }
  #introduction-two-by-two > div > img{
    width:100%;
    height:40vh;
  }
  #objective-list{
    width:90%;
  }




  /*------------original idea -------*/
  #original-idea-row{
    width:90%;
  }
  #original-two-by-one > div > img{
    height:40vh;
  }



  /*--------------- research ---------*/
  #research-row > div .spacer{
    display: none;
  }
  #research-row-background{
    background-color: #E9E5EF;
    padding:5em 0 7em 0;
  }
  #research-row-background > p{
    margin:auto;
  }
  #research-three-by-one > div > img{
    width:100%;
    height:40vh;
  }
  .research-row-row{
    display: flex;
    flex-direction:column;
    height:80vh;
  }
  .research-row-row:nth-child(odd){
    flex-direction:column-reverse;
    height:80vh;
  }
  .research-row-row > div{
    width:100%;
    margin:auto;
  }
  .two-by-three-image{
    width:100%;
    height:100%;
    float:left;
    border-radius:10px;
    height:50vh;
  }
  .two-by-three-p{
    width:100%;
    float:left;
    margin-top:0em;
  }
  .research-row-row:nth-child(odd){
    /* flex-direction:column-reverse; */
  }
  .research-row-row:nth-child(n+2){
    margin-top:1em;
  }
  .research-row-row:nth-child(2) > div > p{
    float:left;
  }
  .research-row-row:nth-child(2) > div > img{
    float:left;
  }
  .research-image-card > sub{
    text-align: left;
    width:100%;
  }

  /*----------- persona row -------------*/
  #persona-row{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
    width:90%;
    margin:auto;
    padding:5em 0 7em 0;
  }
  .persona-row-column > img{
    width:100%;
    height:50vh;
    margin-top:0em;
  }
  /*----------------- Iteration One ------------------*/
  #iteration-one-row{
    margin:auto;
  }
  #iteration-one-content-lofi{
    width:90%;
    margin:auto;
  }
  #iteration-one-row > div > img{
    width:100%;
    height:40vh;
    margin-top:1em;
  }
  .three-by-two{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width:90%;
    margin:auto;
    grid-gap:2em;
  }
  #iteration-one-content-hifi >  div > p{
    width:90%;
    margin:auto;
    text-align:left;
    padding-bottom:2em;
  }
}
