


body{
  margin: 0;
  padding:0;
  font-family: 'Heebo', sans-serif;
  background-color:#fafafa;
}
h1{
  font-size:48pt;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-size:32pt;
  font-family: 'Montserrat', sans-serif;

}
h3{
  font-size:20pt;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height:25px;
  font-size:12pt;
  font-weight: lighter;
  text-align: left;
}

.row{
  margin-top:5em;
  text-align: center;
}

.spacer{
  margin:auto;
  width:33.33%;
  border-bottom:1px solid #D6D3D3;
  margin-top:6em;
  margin-bottom:5em;
}

.paragraph-bold{
  font-weight: bolder;
  font-size: 12pt;
}
.two-by-one{
  width:100%;
  display: grid;
  margin:auto;
  grid-template-columns: 1fr 1fr;
  grid-gap:2em;
  margin-top:2em;
}

.bolden{
  font-weight:bold;
  font-size:13pt;
}

#splash{
  display: grid;
  grid-template-columns:1fr;
  z-index:0;
}

/*-------------------- banner -------------*/
#banner-row{
  padding-top:5em;
  text-align: center;

}
#sub-heading{
  margin-bottom:5em;
  font-size:12pt;
  font-weight:lighter;
  font-family: 'Heebo', sans-serif;
  padding-bottom:5em;
}
#banner-photo-background{
  width:100%;
  height:110vh;
  margin:auto;
  background-color: #E9E5EF;
  padding-bottom:6em;
}
#banner-photo{
  width:30%;
  max-width:85%;
  height:95%;
  margin-top:5em;
}



/*-----------------------Overview-------------*/
#overview-row{
  text-align: center;
}
#overview-container{
  display: flex;
  flex-direction: row;
}
.overview-container-third{
  width:33.33%;
  display: flex;
  flex-direction: column;
  margin-bottom:50px;
}
.overview-container-third > ul{
  padding:0;
}
.overview-container-third > ul > li{
  padding-bottom:15px;
  font-size:12pt;
}

/*----------------------- introduction -------------*/
#introduction-background{
  background-color: #E9E5EF;
  padding:3.5em 0 7em 0;
}
#introduction-background > p{
  margin:auto;
  width:50%;
}
#introduction-background > ol{
  width:50%;
  list-style-type:decimal;
  text-align: left;
  margin:auto;
  line-height: 25px;
}

#introduction-two-by-two > div > img{
  width:90%;
  height:68vh;
  margin:auto;
}
#objective-list{
  width:66%;
  margin:auto;
  text-align: left;
  margin-top:5em;
  padding:0;
  line-height:25px;
}

/*---------------------- original idea ---------*/
#original-idea-row{
  width:50%;
  margin:auto;
  padding:3.5em 0 7em 0;
}

#original-two-by-one > div > img{
  width:100%;
  height:68vh;
}
#original-research{
  margin-top:5em;
}

/*----------------------- research -----------------*/
.research-text{
  text-align:left;
}
#research-row{
  width:85%;
  margin:auto;
}
#research-row-background{
}
#research-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 1fr;
  margin-top:5em;
  grid-gap:2em;
}
#research-grid > img{
  width:100%;
  height:60vh;
}



/*----------------------- Persona -----------------*/
#persona-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:4em;
  width:85%;
  margin:auto;
  padding:7em 0 7em 0;
}
.persona-row-column{
  display: flex;
  flex-direction: column;
  margin-top:2em;
}
.persona-row-column > img{
  width:100%;
  height:70vh;
  margin-top:4em;
}

/*----------------- Iteration One ------------------*/

.iteration-one-list{
  line-height:25px;
  text-align:left;
  width:30%;
  margin:auto;
  list-style-type:disc;
}
.margin-top-5{
  margin-top:5em;
}
#iteration-one-background{
  width:100%;
  margin:auto;
  background-color: #E9E5EF;
  padding:3.5em 0 7em 0;
  text-align: center;
}
#iteration-one-background > p{
  width:50%;
  margin:auto;
}
#iteration-one-prototype-1{
  width:85%;
  margin:auto;
  padding-top:1em;
  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-gap:2em;
}
#iteration-one-prototype-1 > div:nth-child(1) > ul{
  text-align: left;
  line-height: 25px;
  list-style-type:disc;
}
#iteration-one-full{
  height:68vh;
  width:90%;
}


/*----------------- Takeaways ------------------*/
#improvements-row-background{
  width:100%;
  margin:auto;
  background-color: #E9E5EF;
  padding:3.5em 0 7em 0;
}
#improvements-row-content{
  margin-top:5em;
}
#improvements-row-content > div:nth-child(1){
  
}
#testee-image{
  width:50vw;
  height:66vh;
  margin-top:2.5em;
  margin:auto;
}
