body{
  background:#f3f3f3;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size:28pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align: center;
}
h2{
  font-family: 'Lato', sans-serif;
  color:rgb(50,50,50,.6);
  text-align:left;
}
header{
  border-bottom:1px solid rgb(50,50,50,.2);
}
/*------CONTAINERS---*/
#container-resume-page{
  background-color:#fff;
  margin:auto;
  width:78%;
  margin-top:8em;
  margin-bottom:8em;
  padding-top:4em;
  padding-bottom:2em;
  box-shadow:0px 1px 5px lightgrey;
}
#container-resume-content{
  width:92%;
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top:4em;
}

/*------CONTACT INFORMATION---*/
#container-list-contact{
  text-align:center;
  width: 100%;
  margin-top:2em;
  padding-bottom:1em;
}
#list-horizontal-header{
    display:inline-block;
    padding-inline-start:0;
}
#list-horizontal-header > li{
    float:left;

}
#list-horizontal-header > li:not(:first-child) a{
  margin-left:80px;
}
#list-horizontal-header > li > a{
    font-size:12.5pt;
    color:#323232;
    text-decoration:none;
    transition-property: font-size, color, font-weight;
    transition-duration: .5s;
    transition-delay: 0s;
}
#list-horizontal-header > li > a:hover{
    font-size:13pt;
    color:#1654F8;
    font-weight:bold;
}
/*-----CONTENT----*/
.content-row{
  display:grid;
  grid-template-columns: .5fr 2fr .5fr;
}
.content-row > div > ul{
  padding-inline-start:0;
}
.row-date > li{

}
.date{
  text-align: right;
}
.position{
  font-weight:Bold;
  font-size:12.5pt;
  letter-spacing:.4px;
  color:rgb(50,50,50);

}
.position-criteria > li:not(first){
  margin-top:8px;
}
.date{
  color:rgb(50,50,50, .6);
}
.criteria{
  line-height:24px;
  width:90%;
}
.category{
  font-weight:Bold;
  letter-spacing:.4px;
  color:rgb(50,50,50, .6);
  font-size:12.5pt;

}
.position-criteria{
  list-style-type: circle;
  margin-top:8px;
}
.invisible{
  visibility:hidden;
  font-weight:Bold;
  font-size:12.5pt;
  letter-spacing:.4px;
  color:rgb(50,50,50, .6);
}

#content-row-experience{
  margin-top:4em;
}
#content-row-skills{
  margin-top:4em;
}
