
/*------------media query 500px-----------*/
@media only screen and (max-width: 900px){

}






/*------------media query 500px-----------*/

@media only screen and (max-width: 500px){
  label{
    display:block;
    cursor:pointer;
    font-size:32px;
    color:#262626;
    float:right;
    margin-right:5%;
  }
  label:hover{
    color:#1654F8;
  }
  nav{
    display:grid;
    grid-template-columns:1fr 1fr;
    width:100%;
    position:fixed;
    z-index:1;
    background-color:#fff;
    margin:0;
    padding:15px 0 15px 0;
    box-shadow: 0px .3px .6px #888888;
    border-bottom:0;
  }
  #logo{
    margin-left:5%;
    height:32px;
  }

  #home-container-all{
    display:grid;width:100%;
    margin:auto;
  }

  #toggle{
    display:none;
  }
  #menu{
    display:none;
  }

  #toggle:checked + #menu{
    display:block;
    z-index:1;
    position:absolute;
    height:500vh;
    margin-top:3em;
    background-color:#fff;
    text-align:center;
    width:100%;
    left:0;
    top:0;
  }

  /* #menu > a:nth-child(2){
    padding:1em 0 1em 0;
  }
  #menu > a:nth-child(1){
    margin-top:4em;
  }
  #menu > a:not(:nth-child(1)){
    padding:50px 0 50px
  }*/
  #menu > a {
    display:block;
    font-family: 'Lato', sans-serif;
    font-size:32pt;
    padding:120px 0 120px 0;
  }
}


@media only screen and (max-width: 450px){
  label{
    display:block;
    cursor:pointer;
    font-size:30px;
    color:#323232;
    float:right;
    margin-right:5vw;
  }
  label:hover{
    color:#1654F8;
  }
  nav{
    display:grid;
    grid-template-columns:1fr 1fr;
    width:100%;
    position:fixed;
    z-index:1;
    background-color:#fff;
    margin:0;
    padding:15px 0 15px 0;
    box-shadow: 0px .3px .6px #888888;
  }
  #logo{
    margin-left:5vw;
    height:32px;
  }

  #home-container-all{
    display:grid;width:100%;
    margin:auto;
  }

  #toggle{
    display:none;
  }
  #menu{
    display:none;
  }

  #toggle:checked + #menu{
    display:block;
    z-index:1;
    position:absolute;
    height:500vh;
    margin-top:3em;
    background-color:#fff;
    text-align:center;
    width:100%;
    left:0;
    top:0;
  }

  /* #menu > a:nth-child(2){
    padding:1em 0 1em 0;
  }
  #menu > a:nth-child(1){
    margin-top:4em;
  }
  #menu > a:not(:nth-child(1)){
    padding:50px 0 50px
  }*/
  #menu > a {
    display:block;
    font-family: 'Lato', sans-serif;
    font-size:32pt;
    padding:120px 0 120px 0;
  }
}
