nav{
  display:grid;
  grid-template-columns:1fr 1fr;
  width:90%;
  margin:auto;
  padding:15px 0 15px 0;
}

label{
  margin:auto;
  text-align:center;
  display:none;
}
#logo{
  height:32px;
}

#toggle{
  display:none;
}

#menu{
  float: right;
}

#menu > a{
  text-decoration: none;
  color:#262626;
  font-size:12pt;
  font-family: 'Lato', sans-serif;
}

#menu > a:hover{
  font-weight:bold;
  color:#1654F8;
}


#menu > a:nth-child(2){
  padding:0 2em 0 2em;
}
