
nav{
  font-family: 'Source Sans Pro', sans-serif;
  background-color:#fff;
  top:0;
  width:100%;
  position:fixed;
  text-align: right;
  z-index:1;
  box-shadow: 0px 2px 2px lightgrey;
}
.menu{
  margin: 0 7.5vw 0 0;
}
.menu > a{
  clear:right;
  color:#000;
  margin:0 10px;
  line-height:70px;
  text-decoration:none;
}
.menu > a:hover{
  font-weight:Bolder;
  color:
}
.color-nav-item{
  color:#54D17A;
}
label{
  margin: 0 40px 0 0;
  font-size:30px;
  line-height:64px;
  display:none;
  width: 30px;
  float:right;
}
#toggle{
  display: none;
}
