


@media only screen and (max-width: 500px){
  label{
    display: block;
    cursor:pointer;
  }
  .menu{
    text-align: center;
    width:100%;
    height:100vh;
    display: none;
  }
  .menu > a{
    border-bottom:1px solid black;
    margin:0;
    height:15vh;
    display:block;
  }
  #toggle:checked + .menu{
    display: block;
    background-color:#fff;
    z-index:1;
    font-family: 'Raleway', sans-serif;
  }
  #toggle:checked + .container{

  }
}
