nav{
  display:grid;
  grid-template-columns:1fr 1fr;
  width:90%;
  margin:auto;
}

label{
  margin:auto;
  text-align:center;
  display:none;
}
#logo{
  margin:1em 0 0 0;
  height:40px;
}

#toggle{
  display:none;
}

#menu{
  margin:1.5em 0 0 0;
  float: right;
}

#menu > a{
  text-decoration: none;
  color:#212121;
  font-size:12pt;
}
#menu > a:hover{
  font-weight:bold;
  color:blue;
}

#menu > a:nth-child(2){
  padding:0 2em 0 2em;
}
