


@media only screen and (max-width: 500px){
  nav{
    height:60px;
    background-color:#fff;
  }
  nav > div{

  }
  label{
    display: block;
    cursor:pointer;
  }
  .menu{
    text-align: center;
    width:100%;
    height:105vh;
    display: none;
    background-color:#000;
  }
  .menu > a{
    margin:0;
    height:15vh;
    display:block;
    color:#000;
    font-family: 'Raleway', sans-serif;
    font-size:24pt;
  }
  .menu > a:hover{
    color:#008081;
    /* border-bottom:2px solid #008081; */
  }
  #toggle:checked + .menu{
    display: block;
    background-color:#fff;
    z-index:1;
  }
  #toggle:checked + label{
    display: block;
    color:#fff;
    z-index:1;

  }
  /* #toggle:checked + label{
    color:#fffl;
  } */
  #toggle:checked + .container{

  }
  #logo{
    margin-top:5px;
  }
}
