@media only screen and (max-width: 500px) {
  body{
    font-size:16pt;
  }
  header{
    text-align: left;
  }
  h1{
    text-align: left;
    line-height: 40px;
  }
  h2{
    text-align: left;
    font-size:24pt;
  }
  h3{
    text-align: left;
    font-size:18pt;
  }

  .bold{
    font-size:16.5pt;
  }
  .section-all{

  }
  #home-container-content{
    width:90%;
  }
  #section-introduction{
    width:100%;
  }
  #section-personas > div{
    width:100%;
  }
}
