body{
  background:#f3f3f3;
  color:#000;
  margin:0 auto;
  font-family: 'Lato', sans-serif;
  font-size:14pt;
}
header{
  text-align: center;
}

header > img{
 width:100%;
 border-radius:5px;
 margin-top:8em;
 box-shadow:2px 2px 1px lightgrey;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-size:32pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align:center;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size:32pt;
  color:#323232;
  text-shadow:1px 1px 1px lightgrey;
  text-align: center;
}
figcaption{
  font-family: 'Lato', sans-serif;
  font-size:14pt;
  line-height: 26px;
  display:none;
}
footer{
  width:100%;
  padding:6em 0 4em 0;
  text-align:center;
  background-color:#fefefe;
  color:#000;
  font-size:12pt;
  z-index:2;
  position:absolute;
}
p{
  line-height:32px;
  text-align: left;
}
ul{
 line-height: 32px;
}


a{
  text-decoration: none;
}

.section-all{
  margin-top:10em;
}

.bold{
  font-weight:1000;
  font-size:14.5pt;
}
.italic-bold{
  font-style:italic;
  font-weight:1000;
}
.h2-side-text{
  font-family: 'Raleway', sans-serif;
  font-size:14pt;
}


#home-container-all{
}
#home-container-content{
  width:66.7%;
  margin: 9em auto 0 auto;
}


/*-- Section Introduction --*/
.list-horizontal{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  padding-left:0;
  width:100%;
  text-align: center;
}

.list-inner-overview-vertical{
  display:grid;
  grid-template-rows: 1fr 1fr;
  padding-left:0;
  text-align: center;
}

.list-inner-overview-vertical > li:nth-child(2){
  margin-top:8px;
}

#list-inner-overview-basis{
  float:left;
}

#list-inner-overview-type{
  float:right;
}

#section-introduction{
 width:75%;
 margin:auto;
 margin-top:8em;
}



/*-- Section Personas --*/
#image-personas{
  width:100%;
  border-radius:5px;
}
#section-personas > div{
  width:75%;
  margin:auto;
}
#image-personas{
  margin-top:2em;
}
