@media only screen and (max-width: 400px) {
  body{
    margin: 0 auto;
  }
  #content{
    display:grid;
    grid-template-columns: 1fr;
    width:90%;
    margin:auto;
    margin-top:10vh;
    color:#595959
  }
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=HEADER-ROW=-=-=-=-=-=-=-==-=-=-=-=-=--*/
  #header-row{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:6em;
    width:90vw;
    border-bottom:1px solid #dedede;
  }
  #header-row > div > p{
    width:100%;
  }
  #header-gif{
    height:20em;
    width:20em;
    display:none;
  }
  #technologies-outer-list{
    margin-top:1em;
  }


  #research-row{
    width:100%;
    float:left;
  }
  #research-intro{
    width:100%;
  }
  #research-row-rows{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
  }
  .research-para{
    width:90%;
  }
  .research-list{
    width:66.7%;
    list-style: circle;
    font-weight:bold;
  }
  .research-list > li{
    line-height:20px;
  }
  #research-personas{
    width:100% !important;
  }
  #research-personas > div{
    display: grid;
    grid-template-columns: 1fr;
    width:100%;
  }
  #research-personas > div > img{
    background-color:#dedede;
    width:100%;
  }




  /*=-=-=---=-=-=-=-=-=-=-=-=-=-=-=-=-=- LOW-FIDELITY =-=-=-=-=-=-=-=-=-=-=-=-=*/
  #high-level-row{
    margin-top:4em;
  }
  #high-level-row-50{
    width:66.7%;

  }
  #wireframes-row{
    margin-top:4em;
  }
  #high-level-row-50{
    width:100%;
    margin:auto;
    text-align: center;
  }
  #ia-3-columns{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
  }
  #lofi-2-column{
    margin-top:2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2em;
  }
  /*=-=-=---=-=-=-=-=-=-=-=-=-=-=-=-=-=- HIGH-FIDELITY =-=-=-=-=-=-=-=-=-=-=-=-=*/
  #hi-fidelities-2-columns{
    display:grid;
    grid-template-columns: 1fr;
    width:100%;
  }
  #filter-gif{
    width:66.7%;
    height:66.7vh;
    margin:auto;
  }
}
